### Q1. Create one variable containing following type of data:
(i) string<br>
(ii) list<br>
(iii) float<br>
(iv) tuple<br>

In [3]:
a = "string"
b = ["apple","ball",1,2]
c = 2.0
d = ("apple","ball",1,2)

In [8]:
print("type of variable a ={}\ntype of variable b ={}\ntype of variable c ={}\ntype of variable d ={}\n".format(type(a),type(b),type(c),type(d)))

type of variable a =<class 'str'>
type of variable b =<class 'list'>
type of variable c =<class 'float'>
type of variable d =<class 'tuple'>

### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘<br>
(ii) var2 = ‘[ DS , ML , Python]’<br>
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]<br>
(iv) var4 = 1.<br>
<br>
What will be the data type of the above given variable.<br>

Answer :-<br>
(i) var1 = string<br>
(ii) var2 = string<br>
(iii) var3 = list<br>
(iv) var4 = float<br>

### Q3. Explain the use of the following operators using an example:
(i) /<br>
(ii) %<br>
(iii) //<br>
(iv) **<br>

Answers: -

(i) / : It is an Arithmetic operator called Division operator ,which is used to perform division of two numbers.

In [13]:
4 / 2

2.0

In [14]:
3 / 2

1.5

(ii) % : It is an Arithmetic operator called Modulo operator, which is used to get Remainder of two numbers upon division operation.<br>

In [15]:
4 % 2

0

In [16]:
3 % 2

1

(iii) // : It is an Arithmetic operator called Floor Division operator, which is used to perform floor division of two numbers.

In [17]:
4 // 2

2

In [18]:
3 // 2

1

(iv) ** : It is an Arithmetic operator called Exponentiaton operator which is used to find exponentiation operation of two     numbers, that is finding value of a number raised to the power of another number.

In [20]:
4 ** 2

16

In [21]:
3 ** 2

9

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [39]:
lst = [1, 2.0, 3j, [4], tuple([5]) ,"6", {"7"}, {"8" : 8}, range(9), True]
for i in lst :
    print(i,type(i),sep=" ________datatype ")

1 ________datatype <class 'int'>
2.0 ________datatype <class 'float'>
3j ________datatype <class 'complex'>
[4] ________datatype <class 'list'>
(5,) ________datatype <class 'tuple'>
6 ________datatype <class 'str'>
{'7'} ________datatype <class 'set'>
{'8': 8} ________datatype <class 'dict'>
range(0, 9) ________datatype <class 'range'>
True ________datatype <class 'bool'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

If the number A is purely divisible by B then on applying (%) Floor division (A % B) we get 0 as result else we will loop to find number of times B takes to subtract A until A > 0

In [32]:
A = 16
B = 7
if A % B != 0:
    count = 0
    while A > B :
        A -= B
        count += 1
    print(count)

2

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [37]:
lst = [i for i in range(1,26)]
for i in lst:
    if i % 3 == 0:
        print("{} is divisible by 3".format(i))
    else :
        print("{} is not divisible by 3".format(i))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutable Datatypes :
These are the datatypes in python which do not supports mutability of its content means once the object is declared with some initial value its value can not be changed over time, although we can re-assign the the variable which result in shifting in its id() but we cannot modify the value in it. <br>
Example :  <br> 
Numbers (Integer, Float, Complex) <br>
          Tuples <br>
          Strings <br>
          Frozen Sets <br>

In [44]:
a = 5
b = 5
c = b
print(id(a),id(b),id(c),id(5)) # same id means referring to same memory location
b = 6
print(id(b),id(c))

2800911450480 2800911450480 2800911450480 2800911450480
2800911450512 2800911450480

In [46]:
st = "hello"
st = "world" # we can re-assign the variable
st[0] = "a" # error because we can't modify the immutable string

TypeError: 'str' object does not support item assignment

#### Immutable Datatypes :
These are the datatypes in python which do supports mutability of its content means once the object is declared with some initial value its value can be changed over time.<br>
Example :  <br> 
Numbers <br>Lists<br>
Dictionaries<br>
Sets

In [47]:
ls = ["h","e","l","l","o","world"]
ls[5] = "earth" # changing value
print(ls)

['h', 'e', 'l', 'l', 'o', 'earth']